*{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    position: sticky;
    top: 0;
    background-color: rgba(9, 21, 27, 0.8); 
    backdrop-filter: blur(2px);
    z-index: 1000;
}



.menu a {
    color: #d0d0d1;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
}

.m-slogan{
    display: flix;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    background: linear-gradient(to left, aqua, rgb(255, 103, 255));
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    margin-bottom: 10px;
}

.s-slogan{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    
}


.menu a:hover{
    color: rgb(16, 166, 211);
    text-decoration: none;
    transition: color 0.3s ease;
}


#join {
    background-image: linear-gradient(to right, aqua, rgb(255, 103, 255));
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.footer-menu {
    max-width: 1200px;
    display: inline-flex;
    justify-content: space-between;
    gap: 60px;
    color: white;
}
.footer-e {
    color: white;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
}

.footer-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-menu li {
    margin-bottom: 8px;
}

.footer-menu a {
    color: grey;
    text-decoration: none;
    padding: 0;
    font-weight: normal;
}

.footer-menu a:hover {
    color: white;
    text-decoration: solid;
}

.side-text {
  max-width: 450px; 
  width: 80%;  
  margin-left: 70px ;
  padding: 15px 10px;
  line-height: 1.6;
  text-align: left;
  color: grey;
}


.icon-box{
    border: 1px solid #01bbe6;
    padding: 10px;
    border-radius: 10px;
}


.icon-menu{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px 50px;
    margin-left: 30px ;

}

.icon-menu2{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px 50px;
    margin-left: 30px ;
    color: grey;
}

.icon-menu2 p {
  margin: 5px;
}

.w-color{
    color: white;
}

.g-color{
    color: grey;
}

.icon-menu img:hover {
    transform: scale(1.1); 
    cursor: pointer;
}


.divider-line{
    
    border: none;
    height: 2px;
    width: 90%;
    margin: 20px auto;
    background-image: linear-gradient(to right, black, aqua, black);
}

.divider-line2{
    border: none;
    height: 2px;
    width: 90%;
    margin: 20px auto;
    background-color:aqua;
    opacity: 20%;
}

.footer-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.footer-end ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: grey;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.footer-end2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
  margin-left: 30px;
}


.card {
  background-color: #161623;
  color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
  margin: 50px auto auto auto;
}

.a-card{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.prize {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: linear-gradient(to right, #00d0ff, #b100ff);
  color: #fff;
  padding: 6px 14px;
  border-radius: 30px;
  font-weight: bold;
}

.card-content {
  padding: 18px 20px;
}

.card-content h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.game {
  color: #00bfff;
  text-decoration: none;
  font-size: 0.95rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 10px 0 18px;
}

.info div {
  display: flex;
  align-items: center;
  gap: 6px;
}


.join {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to right, #00d0ff, #b100ff);
}